<div *ngIf="showItem" >
  <a class="show-item" [routerLink]="'detail/' + showItem.id + '/' + showType">
        <div class="show-item-rating">
        <i class="pi pi-star-fill"></i>
        <span>{{showItem.rating}} /10</span>
    </div>
    <div class="show-item-image">
        <img [src]="showItem.imageUrl" [alt]="showItem.title">
    </div>
</a>
    <div class="show-item-title"> {{showItem.title}}
        <button class = "btn  btn-link heart-button" [ngClass]="{ 'active' : isInFavorite(showItem)}" (click)="toggleFavoritesList(showItem)">
            <i class="pi pi-heart"></i>
        </button>
    </div>
</div>
