<div class="p-grid">
  <ng-container *ngIf="showsList$ | async as showsList">
    <div *ngIf="showsList.length > 0" class="p-col-12">
      <div class="p-grid p-justify-between">
        <div class="p-col-12 p-md-6 p-lg-4" *ngFor="let show of showsList">
          <app-show-item [showItem]="show" [showType]="showType"></app-show-item>
        </div>
      </div>
    </div>
    <ng-container *ngIf="!(showsList$ | async)?.length">
      <div class="p-col-12">
        <p>No se encontraron películas</p>
      </div>
    </ng-container>
  </ng-container>
</div>
