<div class="login login-content">
    <div class="grid">
        <div class="col-12">
            <form class="custom-form" method="post">
            <h1>Iniciar sesión en MStream</h1>
            <input
                type="email"
                [(ngModel)]="email"
                name="email"
                placeholder="Email"
                required="required"
            />
            <input
                type="password"
                [(ngModel)]="password"
                name="password"
                placeholder="Password"
                required="required"
                minlength="8"
                pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
                title="La contraseña debe tener al menos 8 caracteres, incluyendo letras, números y caracteres especiales."
            />
            <button type="submit" (click)="login()">Acceder</button>
            </form>
        </div>
    </div>
</div>