<div class="login login-content">
    <div class="grid">
        <div class="col-12">
            <form #loginForm = 'ngForm' (ngSubmit)="onLogin(loginForm)" class="custom-form" method="post">
            <h1>Iniciar sesión en MStream</h1>

            <input
                type="email" required ngModel name="email"
                placeholder="Email"
            />
            <input
                required type="password" ngModel name="password"
                placeholder="Password"
            />
            <button [disabled]="!loginForm.valid" type="submit">Acceder</button>
            <button type="button">Cancelar</button>
            </form>
        </div>
    </div>
</div>
