.genres-links{
  a {
    padding: 5px;
    background-color: #9562c2;;
    margin-right: 5px;
    margin-bottom: 5px;
    display:inline-block;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
  }
}
